.app-header {
  background-color: rgb(13, 117, 112);
  background-color: hwb(177deg 75% 11% / 30%);
  border-bottom: 1px solid #e6e6e6;
  .header-container {
    position: relative;

    @media screen and (min-width: 500px) {
      .menu-btn {
        display: none;
      }
    }
  }
}
