

.alert {
    background-color: lightgray;
    position: absolute;
    top: 70px;
    right: 2em;
    padding: 1em;
    &.alert-success {
        background-color: rgb(236, 238, 144);
        border-radius: 4px;
    }
    &.alert-error {
        background-color: lightcoral;
    }
}

